test-*
!*.yaml
*.vscenario
*.vtestunit
*.cbf
*.pptx
environment-make/nodelayer/
vTESTstudio/*.settings
vTESTstudio/obj_LightControl
**/*.vtuexe
Default.venvironment/
SIP/
*.dcusr
*.~lock
ECU/BFC/Appl/GenData/
ECU/**/GenDataVtt/
ECU/BFC/Log/
ECU/BFC/Solution/
ECU/MakeParameters.xml
ECU/Level1SUT/
ECU/Level3SUT/
ECU/*_workingCopy.*
ECU/MakeParameters.xml
ECU/LightControl.zip
.vector/
MakeParameters.xml

environment-make/BSW_Emulation/*
environment-make/Integration/*
!environment-make/BSW_Emulation/BSW_Emulation.cfg
!environment-make/Integration/Integration.cfg

compiled-environment-and-tests
simulation
